body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#gameBoard {
  border-collapse: collapse;
  table-layout: fixed;
  width: 200px;
}

td {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

td:active {
  background-color: #ccc;
}

td.opened {
  background-color: #e0e0e0;
}

td.mine {
  background-color: #ff9999;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

p#minesCount {
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
